src/flows.json
[
    {
        "id": "544611f1.560ba",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "Test"
    },
    {
        "id": "cfe9d18f.af40a",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ec00c513.cf79a8",
        "type": "tab",
        "label": "Hardware",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6938cda6.ff97e4",
        "type": "tab",
        "label": "REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "51c94715.44a8e8",
        "type": "tab",
        "label": "rigctld",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e01dbc0.92c434",
        "type": "subflow",
        "name": "Get capacitor step by frequency",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 260,
                "wires": [
                    {
                        "id": "e79277a1.312b28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 160,
                "wires": [
                    {
                        "id": "dceaad9b.5154e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 980,
                "y": 320,
                "wires": [
                    {
                        "id": "dceaad9b.5154e",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#C7E9C0"
    },
    {
        "id": "b4e6292.cbfffd8",
        "type": "subflow",
        "name": "Read and sort the capacitor definition file",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "95f0955c.624ba8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 600,
                "wires": [
                    {
                        "id": "8eed60b8.17367",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b7042540.3face8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "e6356203.1547f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "KI5HDH",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e9ad140b.996e18",
        "type": "ui_tab",
        "z": "",
        "name": "Antenna",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12344724.fb8679",
        "type": "ui_group",
        "z": "",
        "name": "Rotor (Azimut)",
        "tab": "e9ad140b.996e18",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9e941b5c.2af388",
        "type": "ui_group",
        "z": "",
        "name": "C",
        "tab": "e9ad140b.996e18",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "890dc190.2094b",
        "type": "ui_group",
        "z": "",
        "name": "Rigctl",
        "tab": "e9ad140b.996e18",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9e10b334.3e2ab",
        "type": "ui_tab",
        "z": "",
        "name": "Setup",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "500bedc3.c549a4",
        "type": "ui_group",
        "z": "",
        "name": "Hardware",
        "tab": "e9ad140b.996e18",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "8007aaa8.0de838",
        "type": "ui_group",
        "z": "",
        "name": "Calibration",
        "tab": "9e10b334.3e2ab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67be37b4.5b3ae8",
        "type": "serial out",
        "z": "ec00c513.cf79a8",
        "name": "",
        "serial": "b7042540.3face8",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "74172512.32901c",
        "type": "serial in",
        "z": "ec00c513.cf79a8",
        "name": "",
        "serial": "b7042540.3face8",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "1809fc68.c463a4",
                "f56bd427.ac9098"
            ]
        ]
    },
    {
        "id": "5d8cae6b.18b39",
        "type": "comment",
        "z": "ec00c513.cf79a8",
        "name": "DK9MBS / KI5HDH",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "46aedda1.095724",
        "type": "debug",
        "z": "ec00c513.cf79a8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e877e7.5a6058",
        "type": "link in",
        "z": "ec00c513.cf79a8",
        "name": "Send rawdata to hardware",
        "links": [
            "1c88abcb.cde354",
            "1e4f6252.15187e",
            "7b0e5a73.645744",
            "80810d0b.f2e19"
        ],
        "x": 235,
        "y": 100,
        "wires": [
            [
                "838a0e45.20e39"
            ]
        ]
    },
    {
        "id": "838a0e45.20e39",
        "type": "function",
        "z": "ec00c513.cf79a8",
        "name": "Configuration the Serial port",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "67be37b4.5b3ae8",
                "46aedda1.095724",
                "589a4e8c.e4ef4"
            ]
        ]
    },
    {
        "id": "7b0e5a73.645744",
        "type": "link out",
        "z": "544611f1.560ba",
        "name": "",
        "links": [
            "9e877e7.5a6058"
        ],
        "x": 855,
        "y": 260,
        "wires": []
    },
    {
        "id": "63dc6ada.652284",
        "type": "inject",
        "z": "51c94715.44a8e8",
        "name": "rigctl get f",
        "topic": "",
        "payload": "f",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ce5444e0.b695c8"
            ]
        ]
    },
    {
        "id": "21241008.7adec",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "14350",
        "topic": "",
        "payload": "{\"frequency\": 14350, \"unit\":\"khz\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "3d8f684d.5f3828",
                "30d84709.ddaaa8"
            ]
        ]
    },
    {
        "id": "37b00d8d.b46af2",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "7070",
        "topic": "",
        "payload": "{\"frequency\": 7070, \"unit\":\"khz\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "3d8f684d.5f3828"
            ]
        ]
    },
    {
        "id": "4ff668b3.750688",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "144800",
        "topic": "",
        "payload": "{\"frequency\": 144800, \"unit\":\"khz\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "3d8f684d.5f3828"
            ]
        ]
    },
    {
        "id": "f93ad9c4.f9fe68",
        "type": "comment",
        "z": "544611f1.560ba",
        "name": "Move by Step",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "6ce4d56f.c746fc",
        "type": "comment",
        "z": "544611f1.560ba",
        "name": "Move by frequency",
        "info": "",
        "x": 130,
        "y": 360,
        "wires": []
    },
    {
        "id": "48e53ba9.7ff024",
        "type": "comment",
        "z": "544611f1.560ba",
        "name": "KI5HDH / DK9MBS",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "e79277a1.312b28",
        "type": "function",
        "z": "1e01dbc0.92c434",
        "name": "Convert the frequency",
        "func": "var unit=msg.payload.unit;\n\nif (unit!==undefined) {\n    unit=unit.toUpperCase();\n} else {\n    unit=\"MHZ\";\n}\n\nif (unit=='KHZ') {\n    msg.frequency=msg.payload.frequency*1000;\n    msg.unit='Hz';\n} else if (unit == 'MHZ') {\n    msg.frequency=msg.payload.frequency*10^6;\n    msg.unit='Hz';\n} else {\n    msg.frequency=msg.payload.frequency;\n    msg.unit='Hz';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "74a92593.f4bf6c"
            ]
        ]
    },
    {
        "id": "dceaad9b.5154e",
        "type": "function",
        "z": "1e01dbc0.92c434",
        "name": "frequencyToSteps",
        "func": "var lines=msg.payload.split(\"\\n\");\nvar infreq=msg.frequency;\n\nvar lastFreq=0;\nvar lastSteps=0;\n\n//node.log(lines);\nfor (var x in lines) {\n    var line=lines[x];\n    var steps=line.split(\";\")[0];\n    var freq=line.split(\";\")[1];\n    if(lastFreq<=infreq && freq>=infreq) {\n        if(infreq-lastFreq<freq-infreq) {\n            msg.payload=\"\"+lastSteps;\n        } else {\n            msg.payload=\"\"+steps;\n        }\n        return [msg, null];\n    } else {\n        lastFreq=freq;\n        lastSteps=steps\n    }\n\n}\n\nmsg.payload= \"NO MAPPING\";\nreturn [null,msg];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 750,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2461082d.c418d8",
        "type": "tcp request",
        "z": "51c94715.44a8e8",
        "server": "localhost",
        "port": "4532",
        "out": "time",
        "splitc": "0",
        "name": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "c0efab0e.e4e4a8"
            ]
        ]
    },
    {
        "id": "c0efab0e.e4e4a8",
        "type": "function",
        "z": "51c94715.44a8e8",
        "name": "Create frequency object",
        "func": "msg.payload = Buffer.from(msg.payload);\nmsg.payload = parseInt(msg.payload.toString());\n\nmsg.payload={\"frequency\": msg.payload, \"unit\": \"Hz\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "b398ef8f.6428b",
                "6b8936dc.8e6b78"
            ]
        ]
    },
    {
        "id": "848b7969.2033b8",
        "type": "subflow:1e01dbc0.92c434",
        "z": "51c94715.44a8e8",
        "name": "",
        "env": [],
        "x": 530,
        "y": 500,
        "wires": [
            [
                "1c88abcb.cde354"
            ],
            [
                "7540250d.28977c"
            ]
        ]
    },
    {
        "id": "1c88abcb.cde354",
        "type": "link out",
        "z": "51c94715.44a8e8",
        "name": "",
        "links": [
            "9e877e7.5a6058"
        ],
        "x": 875,
        "y": 480,
        "wires": []
    },
    {
        "id": "7540250d.28977c",
        "type": "debug",
        "z": "51c94715.44a8e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "3d8f684d.5f3828",
        "type": "subflow:1e01dbc0.92c434",
        "z": "544611f1.560ba",
        "name": "",
        "env": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "cb06e84d.d06258"
            ],
            []
        ]
    },
    {
        "id": "1e4f6252.15187e",
        "type": "link out",
        "z": "544611f1.560ba",
        "name": "",
        "links": [
            "9e877e7.5a6058"
        ],
        "x": 755,
        "y": 540,
        "wires": []
    },
    {
        "id": "2687e599.6cc73a",
        "type": "comment",
        "z": "1e01dbc0.92c434",
        "name": "Error",
        "info": "In case of no mapping found",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "899025b1.348b28",
        "type": "comment",
        "z": "1e01dbc0.92c434",
        "name": "Success",
        "info": "",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "537500bf.ff83d",
        "type": "comment",
        "z": "1e01dbc0.92c434",
        "name": "{\"frequency\": 123, \"unit\": \"khz\"}",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "8f1b7625.1386b8",
        "type": "comment",
        "z": "1e01dbc0.92c434",
        "name": "KI5HDH / DK9MBS",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "e8eb95bd.5f1f68",
        "type": "inject",
        "z": "cfe9d18f.af40a",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "32a4a7ad.e32598"
            ]
        ]
    },
    {
        "id": "32a4a7ad.e32598",
        "type": "change",
        "z": "cfe9d18f.af40a",
        "name": "Rigctld",
        "rules": [
            {
                "t": "set",
                "p": "rigctl",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "90c28116.fdcd9",
        "type": "inject",
        "z": "cfe9d18f.af40a",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "32a4a7ad.e32598"
            ]
        ]
    },
    {
        "id": "ce5444e0.b695c8",
        "type": "switch",
        "z": "51c94715.44a8e8",
        "name": "Status rigctl",
        "property": "rigctl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "2461082d.c418d8"
            ]
        ]
    },
    {
        "id": "90b2b68f.315eb8",
        "type": "comment",
        "z": "544611f1.560ba",
        "name": "Move the azimuth rotor",
        "info": "",
        "x": 840,
        "y": 20,
        "wires": []
    },
    {
        "id": "f74afcbe.7ab97",
        "type": "template",
        "z": "6938cda6.ff97e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<table border=\"1\">\n    <tr>\n        <td>Command</td>\n        <td>Value</td>\n    </tr>\n    <tr>\n        <td>MA</td>\n        <td>{{req.params.value}}</td>\n    </tr>\n</table>\n\n{{payload.test}}\n\n<form method=\"get\">\n    <input type=\"text\" value=\"0\" name=\"value\">\n    <input type=\"submit\" value=\"MA\" name=\"command\"/>\n<input type=\"submit\" value=\"MZ\" name=\"command\"/>\n</form>",
        "output": "str",
        "x": 520,
        "y": 380,
        "wires": [
            [
                "3066c77e.e78a58"
            ]
        ]
    },
    {
        "id": "3066c77e.e78a58",
        "type": "http response",
        "z": "6938cda6.ff97e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "83852c89.cf647",
        "type": "http in",
        "z": "6938cda6.ff97e4",
        "name": "MA Endpoint",
        "url": "/magloop/MA/:value",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "f74afcbe.7ab97",
                "86bd926b.3583"
            ]
        ]
    },
    {
        "id": "86bd926b.3583",
        "type": "function",
        "z": "6938cda6.ff97e4",
        "name": "Buid the MA cmd",
        "func": "msg.payload='MA '+msg.req.params.value+'\\n';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "80810d0b.f2e19"
            ]
        ]
    },
    {
        "id": "80810d0b.f2e19",
        "type": "link out",
        "z": "6938cda6.ff97e4",
        "name": "",
        "links": [
            "9e877e7.5a6058"
        ],
        "x": 895,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a5e2673.4dca28",
        "type": "change",
        "z": "ec00c513.cf79a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.magloop.cap_pos",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "238fe4eb.7f9fcc"
            ]
        ]
    },
    {
        "id": "19cc3fcf.9f49",
        "type": "function",
        "z": "ec00c513.cf79a8",
        "name": "Get Value",
        "func": "var keyValue=msg.payload.split(\":\");\nvar pos=parseInt(keyValue[1]);\n\nmsg.payload=pos;\n\nreturn [msg,null];",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "8a5e2673.4dca28"
            ]
        ]
    },
    {
        "id": "1809fc68.c463a4",
        "type": "switch",
        "z": "ec00c513.cf79a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "CAP_POS:",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ECHO:",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ROT_AZI_POS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "LAST_CMD:",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "19cc3fcf.9f49"
            ],
            [
                "46cd0230.03b5dc"
            ],
            [
                "4fdf85b6.ce2b5c"
            ],
            [
                "b034230e.7d715"
            ]
        ],
        "outputLabels": [
            "CAP_POS ",
            "ECHO",
            "ROT_AZI_POS",
            "LAST_CMD"
        ]
    },
    {
        "id": "238fe4eb.7f9fcc",
        "type": "ui_text",
        "z": "ec00c513.cf79a8",
        "group": "500bedc3.c549a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelle C Stellung",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "68bd7b49.9dcfe4",
        "type": "ui_button",
        "z": "544611f1.560ba",
        "name": "ROT_AZI R 1",
        "group": "12344724.fb8679",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Rechts drehen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ROT_AZI R 1",
        "payloadType": "str",
        "topic": "",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "7b0e5a73.645744"
            ]
        ]
    },
    {
        "id": "c6a8e657.4a1f28",
        "type": "ui_button",
        "z": "544611f1.560ba",
        "name": "ROT_AZI L 1",
        "group": "12344724.fb8679",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Links drehen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ROT_AZI L 1",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "7b0e5a73.645744"
            ]
        ]
    },
    {
        "id": "1afc9416.ac37ac",
        "type": "ui_switch",
        "z": "cfe9d18f.af40a",
        "name": "",
        "label": "Rigctl Abfrage",
        "tooltip": "",
        "group": "890dc190.2094b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "32a4a7ad.e32598"
            ]
        ]
    },
    {
        "id": "b398ef8f.6428b",
        "type": "rbe",
        "z": "51c94715.44a8e8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "848b7969.2033b8"
            ]
        ]
    },
    {
        "id": "90046b.5e17eb98",
        "type": "ui_text",
        "z": "51c94715.44a8e8",
        "group": "890dc190.2094b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QRG",
        "format": "{{msg.payload.frequency}} Hz",
        "layout": "row-spread",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c02714f.2a1d5e",
        "type": "ui_button",
        "z": "544611f1.560ba",
        "name": "",
        "group": "8007aaa8.0de838",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "CAL",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "7b0e5a73.645744"
            ]
        ]
    },
    {
        "id": "5c8bb6ca.c3d4d8",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "2c02714f.2a1d5e"
            ]
        ]
    },
    {
        "id": "4ecaa3cd.69d1ac",
        "type": "ui_button",
        "z": "544611f1.560ba",
        "name": "",
        "group": "12344724.fb8679",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Grundposition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ROT_AZI_MZ",
        "payloadType": "str",
        "topic": "",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "7b0e5a73.645744"
            ]
        ]
    },
    {
        "id": "c726a913.3c0d48",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "4ecaa3cd.69d1ac"
            ]
        ]
    },
    {
        "id": "c97107bb.69ba78",
        "type": "ui_template",
        "z": "544611f1.560ba",
        "group": "9e941b5c.2af388",
        "name": "Test",
        "order": 3,
        "width": "6",
        "height": "3",
        "format": "<script>\n//var value = \"\";\n// or overwrite value in your callback function ...\n//this.scope.action = function() { return value; }\n</script>\n\n<!--<md-button ng-click=\"send({payload:action()})\">\n    Click me to send a hello world\n</md-button>-->\n\n\n<!-- https://www.heise.marketing/online-marketing-blog/18-allgemein/104-nutze-font-awesome-icons-mit-css.html -->\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->\n\n\n<div style=\"heigth:40px;\">\n<i ng-click=\"send({payload:'CAP_UP 100'})\" class=\"fa fa-arrow-up\" style=\"font-size:48px;color:grey;margin:8px;\"></i>\n<i ng-click=\"send({payload:'CAP_MAX'})\" class=\"fa fa-plus\" style=\"font-size:48px;color:grey;margin:8px;\"></i>\n<i ng-click=\"send({payload:'CAP_HOME'})\" class=\"fa fa-home\" style=\"font-size:48px;color:grey;margin:8px;\"></i>\n<i ng-click=\"send({payload:'CAP_MIN'})\" class=\"fa fa-minus\" style=\"font-size:48px;color:grey;margin:8px;\"></i>\n<i ng-click=\"send({payload:'CAP_DOWN 100'})\" class=\"fa fa-arrow-down\" style=\"font-size:48px;color:grey;margin:8px;\"></i>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7b0e5a73.645744"
            ]
        ]
    },
    {
        "id": "ce240ad4.4b5828",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "c6a8e657.4a1f28"
            ]
        ]
    },
    {
        "id": "fdc914c5.2ffac8",
        "type": "inject",
        "z": "544611f1.560ba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "68bd7b49.9dcfe4"
            ]
        ]
    },
    {
        "id": "485fe82e.29d2a8",
        "type": "ui_text",
        "z": "ec00c513.cf79a8",
        "group": "500bedc3.c549a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Echo (Hw)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "46cd0230.03b5dc",
        "type": "function",
        "z": "ec00c513.cf79a8",
        "name": "Get Value",
        "func": "var keyValue=msg.payload.split(\":\");\nvar lastCommand=keyValue[1];\n\nmsg.payload=lastCommand;\n\nreturn {'payload': lastCommand};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "456d6616.d76ba8"
            ]
        ]
    },
    {
        "id": "f56bd427.ac9098",
        "type": "link out",
        "z": "ec00c513.cf79a8",
        "name": "Recive rawdata from hardware",
        "links": [],
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "b034230e.7d715",
        "type": "function",
        "z": "ec00c513.cf79a8",
        "name": "Get Value",
        "func": "var keyValue=msg.payload.split(\":\");\nvar lastCommand=keyValue[1];\n\nmsg.payload=lastCommand;\n\nreturn {'payload': lastCommand};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "1de8c201.2c5ade"
            ]
        ]
    },
    {
        "id": "1fd5fa9a.171a65",
        "type": "ui_text",
        "z": "ec00c513.cf79a8",
        "group": "500bedc3.c549a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rückmeldung",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "456d6616.d76ba8",
        "type": "change",
        "z": "ec00c513.cf79a8",
        "name": "set global.echo",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.common.echo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "485fe82e.29d2a8"
            ]
        ]
    },
    {
        "id": "1de8c201.2c5ade",
        "type": "change",
        "z": "ec00c513.cf79a8",
        "name": "set global.last_cmd",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.common.last_cmd",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "1fd5fa9a.171a65"
            ]
        ]
    },
    {
        "id": "4fdf85b6.ce2b5c",
        "type": "function",
        "z": "ec00c513.cf79a8",
        "name": "Get Value",
        "func": "var keyValue=msg.payload.split(\":\");\nvar pos=parseInt(keyValue[1]);\n\nmsg.payload=pos;\n\nreturn [msg,null];",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "d023a49f.0a8348"
            ]
        ]
    },
    {
        "id": "d023a49f.0a8348",
        "type": "change",
        "z": "ec00c513.cf79a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.rotor.azi_pos",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "fe6d34c3.244708"
            ]
        ]
    },
    {
        "id": "fe6d34c3.244708",
        "type": "ui_text",
        "z": "ec00c513.cf79a8",
        "group": "500bedc3.c549a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position Azi.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "589a4e8c.e4ef4",
        "type": "ui_text",
        "z": "ec00c513.cf79a8",
        "group": "500bedc3.c549a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rawdata",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "6b8936dc.8e6b78",
        "type": "change",
        "z": "51c94715.44a8e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.rig.qrg",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "90046b.5e17eb98"
            ]
        ]
    },
    {
        "id": "1325d77d.6448e9",
        "type": "link in",
        "z": "51c94715.44a8e8",
        "name": "User_rig_set_frequency",
        "links": [],
        "x": 655,
        "y": 40,
        "wires": [
            [
                "6b8936dc.8e6b78"
            ]
        ]
    },
    {
        "id": "7f2450ad.77d24",
        "type": "comment",
        "z": "51c94715.44a8e8",
        "name": "Customizing me",
        "info": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab91fedb.e09a8",
        "type": "comment",
        "z": "51c94715.44a8e8",
        "name": "rigctld daemon abfragen",
        "info": "",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "95f0955c.624ba8",
        "type": "function",
        "z": "b4e6292.cbfffd8",
        "name": "set filename",
        "func": "msg.filename=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "c473009a.72738"
            ]
        ]
    },
    {
        "id": "c473009a.72738",
        "type": "file in",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "8eeac438.087988"
            ]
        ]
    },
    {
        "id": "8eeac438.087988",
        "type": "csv",
        "z": "b4e6292.cbfffd8",
        "name": "convert from csv to json",
        "sep": ";",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "step,freq",
        "skip": "0",
        "strings": true,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "cca44e26.6d0f8"
            ]
        ]
    },
    {
        "id": "cca44e26.6d0f8",
        "type": "sort",
        "z": "b4e6292.cbfffd8",
        "name": "sort by frequency",
        "order": "ascending",
        "as_num": false,
        "target": "",
        "targetType": "seq",
        "msgKey": "$sort(payload.freq)",
        "msgKeyType": "jsonata",
        "seqKey": "payload.freq",
        "seqKeyType": "msg",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "7b040873.1a42d8"
            ]
        ]
    },
    {
        "id": "7b040873.1a42d8",
        "type": "join",
        "z": "b4e6292.cbfffd8",
        "name": "join to one msg",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "fd824094.4737d"
            ]
        ]
    },
    {
        "id": "fd824094.4737d",
        "type": "csv",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "step,freq",
        "skip": "0",
        "strings": true,
        "x": 380,
        "y": 520,
        "wires": [
            [
                "8eed60b8.17367"
            ]
        ]
    },
    {
        "id": "8eed60b8.17367",
        "type": "change",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dk9mbs.magloop.capacitor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "50d07ded.b15994",
        "type": "comment",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "info": "",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e712d01.3a4d74",
        "type": "comment",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "info": "",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "70e812fd.21a28c",
        "type": "comment",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "info": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "c0c9dbdc.e11d08",
        "type": "comment",
        "z": "b4e6292.cbfffd8",
        "name": "",
        "info": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "2b5fcf81.919a",
        "type": "inject",
        "z": "cfe9d18f.af40a",
        "name": "",
        "topic": "",
        "payload": "/home/dk9mbs/freq.txt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "f29e7977.b2d2d8"
            ]
        ]
    },
    {
        "id": "f29e7977.b2d2d8",
        "type": "subflow:b4e6292.cbfffd8",
        "z": "cfe9d18f.af40a",
        "name": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "f5b38901.4cf548"
            ]
        ]
    },
    {
        "id": "9ad1efb4.62563",
        "type": "comment",
        "z": "cfe9d18f.af40a",
        "name": "Kondensator Zuordnungstabelle lesen",
        "info": "",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b7a6703.9d57b8",
        "type": "comment",
        "z": "cfe9d18f.af40a",
        "name": "rigctl Abfrage ein- oder ausschalten",
        "info": "",
        "x": 210,
        "y": 20,
        "wires": []
    },
    {
        "id": "f5b38901.4cf548",
        "type": "debug",
        "z": "cfe9d18f.af40a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "74a92593.f4bf6c",
        "type": "function",
        "z": "1e01dbc0.92c434",
        "name": "GetCapDefTable",
        "func": "//msg.frequency=msg.frequency;\nmsg.payload=global.get(\"dk9mbs.magloop.capacitor\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "dceaad9b.5154e"
            ]
        ]
    },
    {
        "id": "25d97bcb.6ec054",
        "type": "comment",
        "z": "1e01dbc0.92c434",
        "name": "ToDo",
        "info": "ToDo:\nFrequency Object übergeben",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "525743bb.cd178c",
        "type": "comment",
        "z": "b4e6292.cbfffd8",
        "name": "KI5HDH / DK9MBS",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "cb06e84d.d06258",
        "type": "template",
        "z": "544611f1.560ba",
        "name": "Build the command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CAP_ABSOLUTE {{payload}}\n",
        "output": "str",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "1e4f6252.15187e"
            ]
        ]
    },
    {
        "id": "bb2016aa.2b5778",
        "type": "ui_dropdown",
        "z": "544611f1.560ba",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "9e941b5c.2af388",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "40m FT8",
                "value": "{\"frequency\": 7074, \"unit\":\"khz\"}",
                "type": "str"
            },
            {
                "label": "20m FT8",
                "value": "{\"frequency\": 14074, \"unit\":\"khz\"}",
                "type": "str"
            },
            {
                "label": "20m QRP",
                "value": "{\"frequency\": 14350, \"unit\":\"khz\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "93b7005f.4744f",
                "5a3c26cf.b53198"
            ]
        ]
    },
    {
        "id": "93b7005f.4744f",
        "type": "debug",
        "z": "544611f1.560ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 680,
        "wires": []
    },
    {
        "id": "30d84709.ddaaa8",
        "type": "debug",
        "z": "544611f1.560ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "5a3c26cf.b53198",
        "type": "json",
        "z": "544611f1.560ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "3d8f684d.5f3828"
            ]
        ]
    }
]